h1 {
    color: aqua;
    font-size: 40px;
}
#loancal {
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    margin-left: 275px;
    margin-top: 95px;
    padding-left: 90px;
    padding-top: 20px;
}

#months {
    width: 175px;
    height: 20px;
}

#amount {
    width: 175px;
    height: 20px;
}

#interest_rate {
    margin-left: 2px;
    width: 180px;
    height: 20px;
}

#payment {
    color: greenyellow;
}